<h1>Articles</h1>
<p><%= button_to 'New article', new_article_path, :method => :get %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Operations</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'View', article_path(article) %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this Article?' } %></td>
    </tr>
  <% end %>
</table>

<% if @articles.blank? %>
<p><em>There are currently no articles.</em></p>
<% end %>